
/**

	参考文件:http://faq.comsenz.com/library/template/filelist/filelist_index.htm 

 */

.sub_forum_list{

	height:80px;
}

.forum_name{

	padding-left: 30px;
}

.sub_forum_desc {

	margin-left: 92px;
    margin-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    border-color: #DFE7EF;
}

.forum_today_posts {
	font-size: 12px;
    color: #DE4444;
    margin-left: 20px;
}
